django==2.2.14
django-filter==2.3.0
django-tables2==2.3.1
django-bootstrap4==2.2.0
psycopg2-binary==2.8.5
django-adminlte3==0.1.6
django-import-export==2.2.0
pylint==2.6.0
pylint-django==2.2.0
pycodestyle==2.6.0
django-crispy-forms==1.9.2
django-widget-tweaks==1.4.8
django-tempus-dominus==5.1.2.13
django-dotenv==1.4.2
gunicorn==20.0.4
django-allauth==0.42.0
