{% extends 'adminlte/base.html' %}


{% block content_header %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{ titulo }}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'academico:index'%}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="#">Asignaturas</a></li>
          <li class="breadcrumb-item active">{{ asignatura }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

    <!-- Default box -->
    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">Title</h3>
        </div>
        <div class="card-body">
          <ul>
            <li>Codigo: {{ asignatura.codigo }}</li>
            <li>Siglas: {{ asignatura.siglas }}</li>
            <li>Nombre: {{ asignatura.nombre }}</li>
            <li>carrera: {{ asignatura.carrera }}</li>
            <li>departamento: {{ asignatura.departamento }}</li>
            <li>Nivel: {{ asignatura.nivel }}</li>
            <li>Semestre: {{ asignatura.semestre }}</li>
            <li>Prerequisito: {{ asignatura.prerequisito }}</li>
            {% if asignatura.grupohomologas %}
              <li>Grupo Homologas: {{ asignatura.grupohomologas }}</li>
            {% endif %}
            
            <ul>
            {% for homologa in asignatura.grupohomologas.asignatura_set.all %}
              <li>{{ homologa }}</li>
            {% endfor %}
            </ul>
          </ul>

          <h3>Catedras</h3>
          <ul>
          {% for catedra in asignatura.catedra_set.all %}
            <li><a href="{% url 'academico:catedra_detail_view' catedra.pk %}">{{ catedra|linebreaks }}</a></li>
            {% if catedra.docentes %}
            <ul>
              {% for docente in catedra.docentes.all %}
                <li>{{ docente }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endfor %}  
          </ul>

        </div><!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div><!-- /.card-footer-->
    </div><!-- /.card -->

<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">Plan</h3>
  </div>
  <div class="card-body">
    <p><a href="{% url 'academico:asignatura_plan_list' asignatura.pk %}">Ver Planes...</a></p>
  </div>
</div>

{% endblock %}


