{% extends 'adminlte/base.html' %}



{% block page_name %}Detalle de Carrera #{{ object.id }}{% endblock %}

{% block content %}

    <!-- Default card -->
    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">Detalle</h3>
        </div>
        <div class="card-body">
            <p>
                {{ object.nombre }}
            </p>
            
            <p>
            
            <a href="{% url 'academico:carrera_asignatura_list' object.pk %}">Ver Asignaturas</a>
            <br>
            <a href="{% url 'academico:carrera_catedra_list' object.pk %}">Ver Catedras</a>
            </p>

        </div><!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div><!-- /.card-footer-->
    </div><!-- /.card -->
    
{% endblock %}


