{% extends 'adminlte/base.html' %}



{% block page_name %}{{ catedra }}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Registros de Cátedra</h3>
        </div>
        <div class="card-body">
          <ul>
          {% for registrocatedra in catedra.registrocatedra_set.all %}
            <li><a href="{% url 'academico:registrocatedra_detail_view' registrocatedra.pk %}">{{ registrocatedra.fecha }}</a></li>
          {% endfor %}
          </ul>
        </div><!-- /.card-body -->
        <div class="card-footer">
            <a href="{% url 'academico:registrocatedra_create_view' catedra.pk %}" class="btn btn-info float-right"><i class="fas fa-plus"></i>Cargar registro</a>
        </div><!-- /.card-footer-->
    </div><!-- /.card -->
    
{% endblock %}


