{% extends 'adminlte/base.html' %}



{% block page_name %}{{ catedra }}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Title</h3>
        </div>
        <div class="card-body">
            {{ catedra }}
        </div><!-- /.card-body -->
        <div class="card-footer">
            <a href="#" class="btn btn-info float-right"><i class="fas fa-plus"></i>Cargar registro</a>
        </div><!-- /.card-footer-->
    </div><!-- /.card -->
    
{% endblock %}


