{% extends 'adminlte/base.html' %}


{% block content_header %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{ titulo }}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'academico:index'%}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'academico:docente_list' %}">Docentes</a></li>
          <li class="breadcrumb-item active">{{ docente.id }}</li>   
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

    <!-- Default card -->
    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">Detalle</h3>
        </div>
        <div class="card-body">
            <p><strong>Cedula: </strong> {{ docente.cedula }}</p>
            <p><strong>Apellido: </strong> {{ docente.apellido }}</p>
            <p><strong>Nombre: </strong> {{ docente.nombre }}</p>
            <p><strong>Email: </strong> {{ docente.email }}</p>
        </div><!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div><!-- /.card-footer-->
    </div><!-- /.card -->

    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">Asignaturas Activadas</h3>
        </div>
        <div class="card-body">
        <ul>
            {% for catedra in docente_catedra_set %}
                <li>{{ catedra }}</li>
            {% endfor %}
            <br>
            <a href="{% url 'academico:docente_catedra_list' docente.id %}">Ver mas</a>
        </ul>
        </div>
        <div class="card-footer">
            <button type="submit" class="save btn btn-success float-right">Nuevo</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header with-border">
            <h3 class="card-title">Documentos</h3>
        </div>
        <div class="card-body">
        <ul>
            {% for documento in docente.documento_set.all %}
                <li>{{ documento }}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
    
{% endblock %}


