{% extends 'adminlte/base.html' %}



{% block page_name %}Tablero {% endblock %}

{% block content %}

    <!-- Si tiene perfil docente se muestra lista de catedras -->
    
    {% if perms.registrocatedra.can_list_own %}puede listar sus catedras {% endif %}
    
    {% if user.docente %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Mis Asignaturas Activas</h3>
        </div>
        <div class="card-body">
          <ul>
          {% for catedra in user.docente.catedra_set.all %}
            <li><a href="{% url 'academico:catedra_detail_view' catedra.pk %}">{{ catedra }}</a></li>
          {% endfor %}
          </ul>
        </div><!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div><!-- /.card-footer-->
    </div><!-- /.card -->
    {% else %}
      <p>Sin perfil Docente</p>
    {% endif %}
{% endblock %}


