{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'admin-lte/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

{% endblock %}



{% block page_name %}Registro de Catedra #{{ registrocatedra }}{% endblock %}

{% block content %}

<form class='form' method="POST">

  {% csrf_token %}

  <div class="card">
    <div class="card-header with-border">
      <h3 class="card-title">Detalles</h3>
    </div><!-- /.card-header -->
    <div class="card-body">
      <div class="form-row">
        {{ form.fecha|as_crispy_field }}
        {{ form.hora_desde|as_crispy_field }}
        {{ form.hora_hasta|as_crispy_field }}
        {{ form.catedra|as_crispy_field }}
        {{ form.docente|as_crispy_field }}
      </div>
    </div><!-- /.card-body -->
  </div><!-- /.card -->

  <div class="card">
    <div class="card-header with-border">
      <h3 class="card-title">Clase Desarrollada</h3>
    </div><!-- /.card-header -->
    <div class="card-body">
      <div class="form-row">
            {{ form.clase_teoria|as_crispy_field }}
            {{ form.clase_practica|as_crispy_field }}
            {{ form.clase_laboratorio|as_crispy_field }}
            {{ form.clase_taller|as_crispy_field }}
      </div>
            {{ form.contenidos_desarrollados|as_crispy_field }}
            {{ form.contenidos_observacion|as_crispy_field }}
      
    </div><!-- /.card-body -->
  </div><!-- /.card -->

<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">Metodología</h3>
  </div><!-- /.card-header -->
  <div class="card-body">
    <div class="form-row">
      {{ form.met_exposicion|as_crispy_field }}
      {{ form.met_trabajo_ind_grp|as_crispy_field }}
      {{ form.met_res_ejercicios|as_crispy_field }}
      {{ form.met_eval|as_crispy_field }}
    </div>
    {{ form.met_otros|as_crispy_field }}
  </div><!-- /.card-body -->
</div><!-- /.card -->

<div class="card">
  <div class="card-header with-border">
    <h3 class="card-title">Medios Auxiliares Empleados</h3>
  </div><!-- /.card-header -->
  <div class="card-body">
    <div class="form-row">
      {{ form.med_pizarra|as_crispy_field }}
      {{ form.med_video|as_crispy_field }}
      {{ form.med_pc|as_crispy_field }}
      {{ form.med_equip|as_crispy_field }}
      {{ form.med_bibli|as_crispy_field }}
      {{ form.med_prog|as_crispy_field }}
    </div>
    {{ form.med_otros|as_crispy_field }}
  </div><!-- /.card-body -->
</div><!-- /.card -->

  <button type="submit" class="save btn btn-default">Guardar</button>
</form>


{% endblock %}


{% block extra_js %}

  <script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.selectmultiple').select2({
        theme: 'bootstrap4'
      });
    });
  </script>

{% endblock %}

